* {
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}



body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    max-width: 1920px;
}

.slider {
    background-image: url(img/2-layers.jpg);
    background-color: #4b4946;
    position: relative;
    margin: 0 auto;
    margin-bottom: 40px;
}

.menu {
    display: flex;
    list-style-type: none;
    margin-top: 62px;
    margin-left: 5%;
}


.menu-link {
    text-decoration: none;
    padding-left: 30px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}

.menu-link-active {
    text-decoration: none;
    padding-left: 30px;
    color: #c7b299;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}


.menu-link:hover {
    text-decoration: none;
    padding-left: 30px;
    color: #c7b299;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}

.slider-title {

    justify-content: center;
    margin-top: 381px;
   padding-bottom: 244px;
}

.slider-title-h2 {
    margin-left: 39%;
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 14px;
}

.slider-title-h1 {
    margin-left: 38%;
    color: #ffffff;
    font-family: "Raleway - Extra Bold";
    font-size: 52px;
    font-weight: 400;
    padding-bottom: 19px;
}

.slider-main-text {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    max-width: 562px;
    padding-top: 19px;
    padding-bottom: 52px;
    margin-left: 38%;
}


.button {
    background-color: #ffffff;
    opacity: 0.5;
    width: 11px;
    height: 11px;
    border: 2px solid #ffffff;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;



}

.button:hover {
    width: 15px;
    height: 15px;
    border: 2px solid #d3c1ad;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    background-color: transparent;
}


.button-active {
    width: 15px;
    height: 15px;
    border: 3px solid #d3c1ad;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    background-color: transparent;
}

.btn-start {
    max-width: 170px;
    height: 53px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    color: #ffffff;
    font-family: 'Raleway', 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    margin-left: 47%;

}

.btn-start-active:hover {
    max-width: 170px;
    height: 53px;
    border-radius: 3px;
    background-color: #998675;
    color: #ffffff;
    font-family: 'Raleway', 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    margin-left: 46%;
}

.arrow-link {
    border: solid #a2a19f;
    opacity: 0.5;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 15px;

}

.left {
    transform: rotate(135deg);
    position: absolute;
    left: 7%;
    top: 575px;
}

.right {
    transform: rotate(-45deg);
    position: absolute;
    right: 7%;
    top: 575px;
}

.left:hover {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 15px;
}

.right:hover {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 15px;
}

.header {
    display: flex;
}

.logo-image {
    margin-top: 35px;
    margin-left: 276px;
}

.paggination {
    position: absolute;
    top: 969px;
    left: 47%;
    padding-bottom: 40px;
}

.web {
    color: #555555;
    font-family: "Raleway - Semi Bold";
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 19px;
    padding-top: 29px;
    
    

}

.web-p {
    max-width: 270px;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 10%;
}


.img-menu {
    max-width: 49px;
    max-height: 49px;
}

.bottom-menu {
    display: flex;
   text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 100px;
    

}

.bottom-menu-wrap {
    padding-left: 10%;
    padding-bottom: 19px;

}


.box {
    border-bottom: 3px solid #ffffff;
    max-width: 285px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.box:before {
    content: "";
    position: absolute;
    left: 30%;
    bottom: 0;
    width: 50%;
    border-bottom: 1px solid #f1eee9;

}

.box:hover {
    border-bottom: 3px solid #c7b299;
}

.box:hover .img-menu {
    fill: "red";
    stroke: "red";
}

.box:hover .web {
    color: #c7b299;
}

.box:after::hover {
    border-bottom: 3px solid #c7b299;
}

.web-active {
    color: #c7b299;
    font-family: "Raleway - Semi Bold";
    font-size: 22px;
    font-weight: 400;
    padding-top: 19px;
    padding-bottom: 19px;
}

.box-active {
    border-bottom: 3px solid #c7b299;
    max-width: 285px;
    position: relative;
    z-index: 1;
}


.ideas {
   max-width: 100%;
}

.ideas-title {
    color: #555555;
    font-family: "Raleway - Semi Bold";
    font-size: 30px;
    font-weight: 400;
    margin-left: 40%;
    padding-bottom: 24px;
    padding-top: 83px;
}

.ideas-text {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-left: 32%;
    max-width: 757px;
    padding-bottom: 40px;
    text-align: center;
}

.layouts img {
    max-width: 770px;
    margin-bottom: -6px;
}

.layouts {
    position: relative;
    text-align: center;
    margin-bottom: -11px;
}

.layout-item-1,
.layout-item-3 {
    position: absolute;
    height: 400px;
    z-index: -1;

}

.layout-item-1 {
    bottom: 0%;
    left: 0;

}

.layout-item-3 {
    bottom: 0%;
    right: 0;
}



.bottom {
    max-width: 1920px;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    margin-top: 13px;
    display: flex;
}

.bottom-h {
    color: #ffffff;
    font-family: Raleway;
    font-weight: 300;
    margin-left: 8%;
    padding-top: 50px;
    padding-bottom: 8px;
}

.bottom-small {
    height: 18px;
    color: #615855;
    font-family: Montserrat;
    font-weight: 300;
    margin-left: 8%;
    margin-bottom: 40px;

}

.purchase-now {
    width: 170px;
    height: 50px;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    padding-top: 14px;
    padding-left: 28px;
    display: inline-flex;
    margin-right: 5%;
    margin-top: 2%;
}

.project {
    padding-top: 5%;
}

.project-title {
    color: #555555;
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 24px;
}

.project-text-small {
    width: 40%;
    text-align: center;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 50px;
}

.btn-project-item {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    max-width: 120px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    background-color: white;
}

.btn-project {
  text-align: center;
    margin-bottom: 40px;
}

.wrap-images {
    display: flex;
    width: 80%;


}

.article-item {
    padding-right: 10%;
}

.load {
    color: #ffffff;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    width: 170px;
    height: 50px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    margin-left: 45%;
    margin-top: 30px;
    margin-bottom: 80px;
}

.article-title {
    color: #c7b299;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
}

.article-p {
    color: #d1d1d1;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.video {
    max-width: 1920px;
    max-height: 705px;
    position: relative;
    z-index: 0;
}



.overlay {
    position: absolute;
    top: 300px;
    z-index: 1;
    width: 100%;

}

.video-text {
    color: #ffffff;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 500;
   text-align: center;

}

.video-text-p {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    width: 552px;
    padding-top: 29px;
    padding-bottom: 29px;
  text-align: center;
  
}

.time {
    color: #c7b299;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 40px;
    text-align: center;
    
}

.btn-padding {
    padding-bottom: 30px;
    margin-left: 47%;
}

.devices {
    background-image: url(img/devices-img.jpg);
    background-repeat: no-repeat;
    background-color: white;
    width: 100%;
    padding-bottom: 170px;
    margin-top: 79px;
}

.devices-title {
    color: #555555;
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 40px;
}

.devices-text {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

.devices-list {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    margin-top: 45px;
}

.devices-wrap {
    padding-top: 195px;
    margin-left: 50%;

}

.devices-item {
    list-style-image: url(img/arrow-small.svg);
}

.numbers {
    background-image: url(img/Background-gradient.jpg);
    width: 100%;
    height: 270px;
    display: inline-flex;
}

.number-text {
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 48px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.number-text-p {
    color: #c7b299;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    border-bottom: 3px solid white;
    padding-bottom: 20px;
}

.numbers-wrap {
    margin-top: 35px;
    text-align: center;

}

.recent-project-title {
    color: #555555;
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 400;
    margin-top: 82px;
    margin-left: 45%;
}

.recent-project-p {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 30px;
    margin-left: 30%;
    text-align: center;
    max-width: 757px;
    margin-bottom: 30px;
}

.recent-project-title-small {
    color: #555555;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    padding-left: 7%;
}

.recent-project-p-small {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 25px;
    margin-bottom: 19px;
    padding-left: 7%;
}

.recent-project-more {
    color: #c7b299;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding-left: 7%;
}

.img-pro {
    width: 370px;
    height: 220px;
    display: block;
}

.image-undertext {
    height: 175px;
    width: 370px;

}

.recent-project-wrap {
    display: block;
}

.recent-wrap-three {
    display: flex;
}

.background-dark {
    background-color: #362f2d;
}

.lorem-text {
    color: #c7b299;
    margin-top: -4px;
    padding-top: 25px;
}

.lorem-text-p {
    color: white;
}

.arrow-sign {
    width: 22px;
    height: 22px;
    padding-left: 12px;
}

.nav-arrow-project {
    margin-top: 40px;
    margin-bottom: 80px;
    margin-left: 47%;
}

.logo-section {
    width: 100%;
    height: 489px;
    background-image: url(img/2-layers-last.jpg);
}

.images-section {
    padding-left: 26%;
}

.img-padding-last {
    padding-right: 5%;
    padding-top: 70px;
}

.last-text {
    max-width: 258px;
    color: #555555;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.read-more-p {
    color: #d1d1d1;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.last {
    width: 100%;
    background-image: url(img/Background-strange.jpg);
    background-color: #191919;
    display: flex;
    padding-top: 15px;
}

.last-p {
    margin-top: 80px;
    margin-left: 15%;
    max-width: 258px;
}

.last-text {
    color: #555555;
    font-family: Montserrat;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.read-more {
    color: #d1d1d1;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}

.post-title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 30px;
}

.date {
    color: #363636;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    padding-bottom: 10px;
}

.under-date-text {
    color: #555555;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding-bottom: 42px;
}

.post-title-active {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}

.under-date-text-active {
    color: #c7b299;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.twitter-title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 30px;
}

.about-twitter {
    color: #555555;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.about-twitter-date {
    color: #363636;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}

.Dribbble-widget {
    color: #ffffff;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 30px;
}

.post {
    margin-top: 94px;
    max-width: 300px;
}

.twitter {
    margin-top: 94px;
    max-width: 264px;
}

.widget {
    margin-top: 94px;
    width: 300px;
}

footer {
    width: 100%;
    background-color: #111111;

}

.footer-text {
    color: #555555;
}

.Waxom-a {
    color: color: #959595;
    text-decoration: none;

}

.faq-active {
    color: #c7b299;
}

.waxom-wrap {
    padding-top: 30px;
    margin-left: 5%;
    width: 30%;
    display: flex;
    margin-top: -6px;
    background-color: #111111;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 300;
    padding-bottom: 20px;
}

.burger {
  display: none;
}


@media (max-width: 600px) {
  .burger {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  display: block;
  box-sizing: border-box;
      margin-top: 40px;
}

.menu-test {
  width: 100%;
  height: 4px;
  background-color: white;
  display: block;
  margin-bottom: 5px;
}
  
  .menu {
    display: none;
  }   
  
}

@media (max-width: 600px) {
  .logo-image {
 width: 250px;
      height: 100%;
      margin-left: 30px;
    }}

@media (max-width: 900px) {
  .arrow {
 display: none;
    }}

@media (max-width: 600px) {
  .slider-title{
  padding-top: 20px;
   padding-bottom: 50px;
    }
    .slider-title-h2{
        justify-content: center;
        margin-left: 12%;

    }
    .slider-title-h1{
        justify-content: center;
        margin-left: 10%;
    }
    
    .slider-main-text{
     justify-content: center;
        margin-left: 10%;   
    }
}

@media (max-width: 600px) {
    
    .web {
    padding-bottom: 5px;
    padding-top: 5px;}

.web-p {
    width: 100%;
    padding-bottom: 5px;}

.bottom-menu {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 100px;
    display: inherit;}

.bottom-menu-wrap {
    padding-left: 10%;
    padding-bottom: 19px;
    display: block;
    width: 100%;}


.box {
    width: 100%;}

.web-active {

    padding-top: 5px;
    padding-bottom: 5px;
}

.box-active {
   width: 100%;
    display: block;
    border-bottom: none ;
    } }



@media (max-width: 600px) {
.ideas-title{
  margin-left: 10%;  
}

.ideas-text {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    padding-bottom: 40px;
    text-align: center;
    }}

@media (max-width: 600px) {
.wrap-images{
  display: inherit; 
}

    
    @media (max-width: 600px) { 
    .devices {
    background-image: none;
        }
    .devices-wrap {
    margin-left: 5%;

} }
    
    @media (max-width: 600px) { 
        .recent-wrap-three{
            display: inherit;
        }}
     
     @media (max-width: 600px) { 
        .video{
            display: none;
        }}
    
    @media (max-width: 600px){ 
    .recent-project-p {
    margin-left: 5%;
    text-align: center;
    width: 100%;
    
    }}
    
         @media (max-width: 600px) { 
        .layouts{
            display: none;
        }}
    
        @media (max-width: 600px) { 
        .last{
            display: inherit;
        }}